body {
    background: #777;
}

#background {
    border: 2px solid black;
    width: 300px;
    height: 400px;
    background: #146b85;
    margin: 50px auto;
}

button {
    border: 0;
    color: #fff;
}

#result {
    display: block;
    font-family: sans-serif;
    width: 248px;
    height: 40px;
    background: #3b3535;
    color: #fff;
    font-size: 20px;
    padding-top: 20px;
    margin: 10px auto;
    margin-left: 25px;
    position: relative;
    border: 0;
    letter-spacing: 4px;
    top: 10px;
    overflow: none;
    cursor: text;
}

#first-rows {
    margin-bottom: 20px;
    position: relative;
    top: 10px;
}

#delete {
    width: 120px;
    height: 50px;
    margin-left: 25px;
    border-radius: 4px;
}

.del-bg {
    background: #24b4de;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    border-bottom: 3px solid #399cb9;
}

.del-bg:active {
    background: #24b4de;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    outline: none;
    box-shadow: inset 4px 4px 4px #399cb9;
}

/* Button styling */

.btn-style {
    width: 55px;
    height: 50px;
    margin-left: 5px;
    border-radius: 4px;
}

.opera-bg {
    background: #737373;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    outline: none;
    border-bottom: 3px solid #555;
}

.opera-bg:active {
    background: #737373;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    outline: none;
    box-shadow: inset 4px 4px 4px #666666;
}

.rows {
    width: 300px;
    margin-top: 10px;
}

.first-child {
    margin-left: 25px;
}

/* Adding background color to the number values */

.num-bg {
    background-color: #000;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    outline: none;
    border-bottom: 3px solid #333;
}

.num-bg:active {
    background-color: #000;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    outline: none;
    box-shadow: inset 4px 4px 4px #666666;
}


.eqn {
    width: 55px;
    height: 50px;
    margin-left: 5px;
    border-radius: 4px;
}

/*Adding a background color to the equals to button */

#eqn-bg {
    background: #17a928;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    outline: none;
    border-bottom: 3px solid #1f7a29;
}

#eqn-bg:active {
    background: #17a928;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    outline: none;
    box-shadow: inset 4px 4px 4px #1f7a29;
}
